.row {
    height: 100vh;
}

.main-container {
    background: linear-gradient(135deg, #0F172A, #1E293B);
    color: white;
    text-align: center;
    padding-top: 10px;
}

#timer {
    font-size: 36px;
    font-weight: bold;
}

.bet-status-indicator {
    height: 14px;
    width: 14px;
    background-color: red;
    border: none;
    border-radius: 100px;
    margin-top: 6px;
    margin-right: 6px;
}

.color-buttons {
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 100px;
}

.big-small-btns {
    height: 42px;
    width: 30vw;
    border: none;
    background-color: grey;
    border-radius: 12px;
    color: black;
    font-family: Roboto;
    font-size: 20px;
}

.current-bet-container {
    text-align: left;
    background-color: #334155;
    padding: 10px;
    border: none;
    border-radius: 12px;
    height: 40%;
}

.current-bet-heading {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 52px;
    font-weight: bold;
}

.current-bet-round {
    font-family: roboto;
    font-size: 32px;
    font-weight: weight;
}

.history-tab {
    background-color: #334155;
    height: 36px;
    width: 25vw;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    padding: 4px;
}

.result-myBets-button {
    height: 48px;
    width: 50vw;
    border: solid;
    border-color: #334155;
    border-width: 1px;
    background-color: chocolate;
    color: white;
    font-family: Roboto;
    font-size: 24px;
}

.results-btn {
    border-top-left-radius: 12px;
}

.my-history-btn {
    border-top-right-radius: 12px;
}

.active-color {
    background-color: chocolate;
}

.passive-color {
    background-color: darkslategray;
}

.amount-input {
    background-color: gray;
    border: none;
    border-radius: 6px;
}

.place-bet-btn {
    height: 32px;
    width: 72px;
    border: none;
    background-color: green;
    border-radius: 6px;
}

#placeBetContainer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.result-color-circles {
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 100px;
}

.size-result {
    height: 36px;
    width: 56px;
    background-color: bisque;
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    font-size: 16px;
    color: black;
    padding: 4px;
    font-weight: bold;
}

#lowerContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#historyContent {
    flex: 1;
    overflow-y: auto;
}